.about-container{
    height: 82vh;
    width: 100%;
    display: flex;
    background-color: rgba(72, 70, 84, 0.792);
    position: relative;
}

.chineesefood{
    width:25%;
    height:80%;
    opacity: 0.8;

}

.girleating{
    height: 82vh;
    width: 50%;
    opacity: 0.5;
}

.italian{
    width:25%;
    height:80%;
    opacity: 0.8;   
}

.des-button-wrapper{
    width: max-content;
    height:70vh;
    position: absolute;
    margin-top: -40rem;
    margin-left: 44rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
    justify-content: center;
    align-items: center;
    padding-top:8rem;
    z-index: 1;
    }

.scrapper-button{
    
    width:max-content;
    height:10vh;
    background-color:rgba(255, 166, 0, 0.659);
    box-shadow: rgba(195, 150, 36, 0.2) 0px 2px 8px 0px;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem;
   
}
.scrapper-button:hover{
    cursor: pointer;
    background-color: rgba(197, 183, 158, 0.659); 
}

.des{

    font-size:2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgba(62, 62, 150, 0.781);
    color:rgba(255, 166, 0, 0.756);
    width: 57rem;
    height: max-content;
    box-shadow: 0.5px;
    background-color:rgba(172, 153, 153, 0.282);
    text-align-last: center;
}

.image1{
    width: 100%;
    height: 100%;
}
@media(max-width:768px){
.des{
    width:45rem;
    position:absolute;
    margin-left: 3rem;
    margin-top: -20rem;

}
.about-container{
    height:88vh;

}
}