.game{
    background: url("../../../public/favpng_world-map-cereal-food.png") no-repeat center center;
    background-size: cover;
    opacity: 0.7;
    width: 100%;
    /* height: calc(100vh-10vh-10vh); */
    height:110vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.score{
    /* width:6rem; */
  border: 1px solid  #e42a2a;
  background-color:  #e42a2a;
  color: white;
}

  
@media (max-width: 768px){
    .game{
     width: 100%;
    }
}
    
   