@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.home-pic {
background-image: url("https://ychef.files.bbci.co.uk/1600x900/p065jzb2.webp");
width: 100%;
height: 82vh;
position: relative;

}
.side-logo {
  
    width: 10rem;
    /* height: max-content; */
    font-size: 7rem;
    font-family: 'Dancing Script';
    letter-spacing: 2px;
    font-weight:bold;
    color: white;
    transform:rotate(90deg);
    position: absolute;
    margin-top: 2rem;
    margin-left: 0rem;
    z-index: 1; 

}


.share-learn{
position: absolute;
display:flex;
flex-direction: column;
gap:1rem;
margin-left: 10rem;
margin-top: 2rem;

}

@media(max-width: 768px){
    .home-pic {
        background-image: url("https://ychef.files.bbci.co.uk/1600x900/p065jzb2.webp") cover center  no-repeat;

        width: 100%;
        height: 82vh;
        
        }

}

