@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.logo-container {
    font-size: 4rem;
    font-family: 'Dancing Script';
    letter-spacing: 2px;
    font-weight:bold;
    color: rgba(121, 40, 40, 0.318);
  }

 
  