
.room-container{
    width:100%;
    height: 82vh;
    background-image: url('../../../public/people-collaborating-or-sharing-a-message.png');
     padding:10px;
    background-color: thistle;
    opacity: 0.8
    

}
.join{
    width:100%;
    background-color:rgba(255, 166, 0, 0.659);
    box-shadow: rgba(195, 150, 36, 0.2) 0px 2px 8px 0px;
}
.joinChatContainer{
    width:40%;
    height: 70vh;
    /* border:1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:auto auto;
    margin-top:2rem;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:4rem;
    background-color: rgb(199, 170, 202);
    background-color: rgba(207, 203, 196, 0.512);

   


}